
nav{
    background-color: rgb(125, 252, 209);
    color:black;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index:10000;
    padding:10px;
    overflow-y: auto;
    width:"100px";

}

nav div{
    display: inline-block;
    padding:5px;
    width: 10%;
}
.pie footer{
    margin: 100px auto;
    text-align: center;
    background-color:  rgb(125, 252, 209);
    color:rgb(0, 73, 33);
    clear: both;
    width:100%;
}
.pie footer p{
    color: rgb(0, 73, 33);
    display:inline-block;
    width:15%;
    margin-right: 110px;
    margin-left: 110px;
}

figure{
    background-color: white;
    border: 2px solid black;
    padding: 5px;

}
h1{
text-align:center;
}

.contenedor{
    text-align:center;
}
.f1
{
    text-align:center;
    display:inline-block;
    padding:50px;
    color: rgb(0, 73, 33);
}

.centro h1{
    color: rgb(0, 73, 33);
}

.prod div::first-letter{
 color:red;
 font-size: 30px;    
 border-right: 1px solid rgb(18, 24, 103);
 border-bottom: 1px solid rgb(18, 24, 103);
 padding-right: 5px;
 margin-right: 4px;
}
.prod div{
    padding:"80px";
   color: rgb(0, 73, 33);
    font-weight: bolder;
    margin-top: 10px;
}
.prod{
    float:left;
    overflow-y: auto;
    width: 70%;
    margin: 30px auto;
}
aside {
    background-color: rgb(150, 235, 147);
    color:  rgb(0, 73, 33);
    position: absolute;
    right: 15%;
    text-align: center;
    top: 30%;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
}

header{
    position: relative;
    text-align: center;}
.produ{
    display:inline-block;
        margin:20px;
        text-align:center;
    }
.prod img {
        float: left;
        margin-left: 10%;
        width: 20%;
    }

      aside a {
        background-color: rgb(24, 61, 17);
        color: white;
        margin-top: 40px;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
    }
      