.principal{
    background-color: rgb(218, 218, 218);
    margin: 100px auto;
    position: relative;
    height: 700px;
    width: 80%;
}

.principal nav{
    background-color: rgb(93, 175, 223);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index:100;
}

.principal nav div{
    display: inline-block;
    padding:5px;
    width: 20%;
}

figure{
    background-color: white;
    border: 2px solid black;
    padding: 5px;

}

#f1{
    position: absolute;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    z-index:50;
    left: 10%;
    top: 30%;
    height: 150px; width: 210px;
}
#f2{
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index:30;
    left: 20%;
    top: 35%;
    height: 150px; width: 210px;
}
#f3{
    position: absolute;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    z-index:30;
    left: 30%;
    top: 40%;
    height: 150px; width: 210px;
}
#f4{
    position: absolute;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    z-index:20;
    left: 40%;
    top: 45%;
    height: 150px; width: 210px;
}
.lateral img{
    height: 50px;
    width: 50px;
}

.lateral{
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position:fixed;
    text-align: center;
    top:30%;
    width:80px;
    width:120px;
    font-size: 0.8em;
}

