h4{
    text-align:center;
}
p{
    text-align:center;
}
table, th, td{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
  }
a:link{
    color:green;
    text-decoration: none;
}

a:visited {
    color:red;
    text-decoration: none;
}

tr:nth-child(1) td:hover:last-of-type{
    font-size:200%;
}
tr:nth-child(2) td:hover:last-of-type{
    font-size:200%;
}
tr:nth-child(3) td:hover:last-of-type{
    font-size:200%;
}
tr:nth-child(5) td:hover:last-of-type{
    font-size:200%;
}
tr:nth-child(6) td:hover:last-of-type{
    font-size:200%;
}
th:hover:last-of-type{
    font-size:200%; 
}
tr:nth-child(4) th:last-of-type{background-color: yellow;}
tr:first-of-type th:first-letter{
    font-size: 200%;
}

td:first-of-type{
    background-color: green;
}
input::placeholder{
    color:gray;
}
input:required{
    border-color:red;
    padding:10px;
}
label::after{
    content:"*";
    color:red;
}