*{
    box-sizing: border-box;
    width:100%;
}

h1,h2,h3{
    margin: 0px;
    padding: 0.5em;
}

h1{
    color:rgb(99, 162, 221);
}
nav{
    color:rgb(99, 162, 221);
    font-weight: bolder;
}
main{
    background-color: rgb(212, 194, 229);
    display: flex;
    flex-wrap: wrap;
}
main section{
    width:100%;
}

article p{
    font-family: "Righteous", cursive;
    color:black;
    
}
.abajo #verde{
    font-family: "Righteous", cursive;
    color: green;
}
.Descr p,h3{
    font-family: "Times New Roman";
}

.Descr{
    width:50%;
    float:left;
}

section.fotos{
    width:25%;
    display: flex;
    flex-wrap: wrap;
}

section.fotos img{
    height: 100px;
    width:25%;
}
main section {
    width: 100%;
  }

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.oculto{
    display:none;
}
.abajo > *{
    display: inline-block;
    width:23%;
}
.abajo{
    margin-top: 10px;
}

@media screen and (min-width: 992px) {
    .hidden {
      display: block;
    }
  
    section.fotos {
      order: 1;
    }
  
    section.descr {
      order: 2;
    }
  
    section.fotos img {
      height: 33%;
      width: 33%;
    }
  }

  @media screen and (min-width: 576px) {
    nav {
      display: flex;
    }
  
    .nav-menu {
      display: inline-block;
    }
  
    .icon {
      display: none;
    }
  
    .abajo {
      display: flex;
    }
  
    .abajo > * {
      width: 25%;
    }
  
    section.principal, section.fotos {
      width: 50%;
    }
  
    section.fotos img {
      width: 50%;
      height: 25%;
    }
  }