*{
    box-sizing: border-box;
}

h1,h2,h3{
    margin: 0px;
    padding: 0.5em;
}

h1{
    color:rgb(99, 162, 221);
}
nav{
    color:rgb(99, 162, 221);
    font-weight: bolder;
}
main{
    background-color: rgb(212, 194, 229);
    display: flex;
    flex-wrap: wrap;
}

article h2,h3,p{
    font-family: "Righteous", cursive;
    width:25%;
}
.Descr p,h3{
    font-family: "Times New Roman";
}

section.fotos{
    display: flex;
    flex-wrap: wrap;
}
article{
    column-count: 3;
    box-sizing: content-box;
}

section.fotos img{
    height: 100px;
    width:25%;
}
main section {
    width: 100%;
  }

article h3,h2,p{
    padding:20px;
    font-weight: bold;
}
article p{
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

@media screen and (min-width: 992px) {
    .hidden {
      display: block;
    }
  
    section.fotos {
      order: 1;
    }
  
    section.descr {
      order: 2;
    }
  
    section.fotos img {
      height: 33%;
      width: 33%;
    }
  }