*{
    box-sizing: border-box;
}

h1,h2,h3{
    margin: 0px;
    padding: 0.5em;
}

h1{
    color:rgb(99, 162, 221);
}
nav{
    color:rgb(99, 162, 221);
    font-weight: bolder;
}
main{
    background-color: rgb(212, 194, 229);
    display: flex;
    flex-wrap: wrap;
}

.abajo h2,h3,p{
    font-family: "Righteous", cursive;
}
.Descr p,h3{
    font-family: "Times New Roman";
}

section.fotos{
    display: flex;
    flex-wrap: wrap;
    height:"33%"; 
    width:"33%";
}
article{
    width:25%;
    display:block;
}