h1{
    text-align:center
}

.morado{
    background-color: blueviolet;
}

#cap .rojito{
    background-color: red;
}

#cap .gris{
    background-color: grey;
}

#cap .amarillo{
    background-color: yellow;
}

